<head><title> Sky Search - Find the object you are looking for! </title>
  <!-- Aladin Lite CSS file  -->
  <link rel="stylesheet" href="http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
   <script type='text/javascript' src='http://aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js' charset='utf-8'></script>
</head>

<body style="background:url('/Jason-Chu-Gemini-and-the-Milky-Way-Across-the-Sky-2.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
	<div class ="container-fluid" > 
		<div class="page-header" style="color:white;"><h1><b>SkySearch!</b></h1></div>
		
		<nav class="navbar navbar-inverse">
      <div class = "container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <!--  Display three horizontal lines when navbar collapsed. -->
              <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="nav-bar navbar-brand" href="#home"> SkySearch </a>
          </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a class="nav-bar" href="#home">Home</a></li>
            <li id="savedsearches_nav" style="display:none;"><a class="nav-bar" href="#savedsearches">My Searches</a></li>
            <li><a class="nav-bar" href="#userguide">Search Guide</a></li>
            <li><a class="nav-bar" href="#about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="login_nav"><a class="nav-bar" id="log" href="#login">Log In</a></li>
          </ul>
        </div>
      </div>
		</nav>
		
		
		<div class="row">
			<div class="well" style="background: rgba(255,255,255,0.5); width:85%; float: none; margin: 0 auto;"><br>
			
			<div id="home" class="page">
				<div class="row">
				  <h1 class="text-center"><b>Search for an object (Star, Cluster, Galaxy, or Nebula)!</b></h1><br>
				  <form id="searchform" class="form-horizontal" style="padding:5px;">
            <div class="col-md-9">
              <div class="form-group">
                <label class="control-label col-md-4">Name to search:</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="name" placeholder="ex: Vega, Sirius, M31, NGC6822, IC1318, etc..">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-4">Or search by coordinates:</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" name="coords" placeholder="hh mm ss +/-dd mm ss">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group" style="horizontal-align:middle; vertical-align:middle; text-align:center">
                <input type ="submit" id="submit_button" class="btn btn-primary btn-lg" value="Search!">
              </div>
            </div>
				  </form>
				</div><br><br>
				<div class="row">
				  <div class="bg-danger col-sm-offset-1 col-md-10" style="padding:1px">
              <h5 class="text-danger"><center><b>Note:</b> Only deep space objects (star clusters, nebulae, galaxies) from the Messier, NGC, and IC catalogues are currently supported.</center></h5>
          </div><br><br><br>
          <div class="row">
								<center>Original SkySearch Project developed by Anna Sikkink and Alejandro Carvallo, Summer 2015.<br>
                        SkySearch v2 Meteor port by Anna Sikkink and Yiming Xie, Fall 2015.<br>
                        Background photo by <a href = "http://jason-chu.artistwebsites.com">Jason Chu</a>, IfA PhD Candidate.</center>
          </div>
				</div>
			</div>

        <div id="searchresults" class="page" style="display: none;">
			{{> results}}
		</div>



				<div id="savedsearches" class="page" style="display: none;">
          <div class="row">
            <div class="col-md-12"><div class= 'panel panel-primary'>
					<div class='panel-heading'><h4><b>Previous Searches</b></h4></div>
					<div id='dataPanelBody' class='panel-body'>
			<div id="searchesTable"></div>
			</div>
			</div>
          </div>
        </div>
		</div>

        <div id="userguide" class="page" style="display: none;">
          <div class="row">
		   <div class="col-md-12">
            <div class= 'panel panel-primary'>
					<div class='panel-heading'><h4><b>SkySearch! User Guide</b></h4></div>
					<div id='dataPanelBody' class='panel-body'>
					<p><h4><b>Background</b></h4></p>
					<p>Before astronomers can plan their nights on a telescope, they use observation planning software to determine when their science target will be observable, and find out when the target will be best observed during that time interval. To make good use of their telescope time, astronomers have to be well prepared for their scheduled nights.<br><br>

The big questions are:<br>
	* Is my science target observable tonight?<br>
	* When will the object be <i>best</i> observed?<br>
	* What information do we already have on my science target?</p><br>

	<p><h4><b>The Functionality of SkySearch!</b></h4></p>
	<p>
	In order to answer these questions, this program allows astronomers to search for information on their science target. If they are planning to observe an object that has already been cataloged, they can search on the object name or catalog number. If they are looking at a particular portion of the sky which is not specific, they can search by coordinates (Right Ascention and Declination). Either way, information is returned on the important data of the target, along with an airmass table, which tells astronomers what times the object will be best viewable (marked in green), and an image of their object from the Digital Sky Survey.
	<br><br>
	This site was designed to be simple to use: just search for a target, and all of the information will be displayed. If you are logged in, you can save your searches for future reference.</p>


                  </div>
				 </div>
			</div>

          </div>
        </div>

        <div id="about" class="page" style="display: none;">
          <div class="row">
            <div class="col-md-12">
            <div class= 'panel panel-primary'>
					<div class='panel-heading'><h4><b>About SkySearch!</b></h4></div>
					<div id='dataPanelBody' class='panel-body'>
					
					<p><h4><b>Software Framework</b></h4></p>
					<img src="meteor-logo.jpg" style="width:300px;"><br><br>
					This project uses Meteor as the software framework. Most of the logic and calculations are done in Javascript, and the data is pulled from multiple MongoDB collections. A Javascript plugin called Aladin Lite is also included to retrieve DSS images for searched objects.<br><br>
					
					<p><h4><b>Background</b></h4></p>
					<p>The first iteration of SkySearch! was created as a small PHP/MySQL project for a Hilo astronomy course based on the software systems used in the field. Even after the class had finished, I continued to work on the project with an Astronomy major who had taken the class with me. It was basically just the searching functionality at that time.
					<br><br>
					I decided to port this project to Meteor for my ICS 415 class in order to become more familiar with the framework and explore the possibilities. It proved to be more difficult that my groupmate and I expected, but it was defintely a learning experience. And I am happy with how it turned out!</p><br>
					
					<p><h4><b>Contributors</b></h4></p>
					<p><img src="as2.jpg" class="img-circle" style="height:100px;">&nbsp;&nbsp;&nbsp;Anna Sikkink: University of Hawaii at Manoa, ICS major</p>
					<p><img src="yx.jpg" class="img-circle" style="height:100px;">&nbsp;&nbsp;&nbsp;Yiming Xie: University of Hawaii at Manoa, ICS major</p>
					<p><img src="ac.jpg" class="img-circle" style="height:100px;">&nbsp;&nbsp;&nbsp;Alejandro Carvallo: University of Calgary, Astronomy major</p>
                  </div>
				 </div>
			</div>

          </div>
        </div>

         <div id="login" class="page" style="display: none;">
          <div class="row">
		  <div id="loginerror"></div>
            <form class="form-horizontal" style="padding:5px;" id="logInForm">
				<div class="col-md-9">
				  <div class="form-group">
					<label class="control-label col-md-4">Username:</label>
					<div class="col-md-8">
					  <input type="text" class="form-control" name="username" >
					</div>
				  </div>
				  <div class="form-group">
					<label class="control-label col-md-4">Password:</label>
					<div class="col-md-8">
					  <input type="password" class="form-control" name="password" >
					</div>
				  </div>
				</div>
			<div class="row">
				<div class="col-md-6">
				  <div class="form-group" style="horizontal-align:right; vertical-align:middle; text-align:center">
					<input type ="submit" id="submit_button" class="btn btn-primary btn-lg" value="Log In!">
				  </div>
				</div>
				<div class="col-md-6">
				  <div class="form-group" style="horizontal-align:left; vertical-align:middle; text-align:center">
					<button type ="button" id="signup_button" class="btn btn-success btn-lg">Sign up!</button>
				  </div>
				</div>
			</div>
			</form>
          </div>
        </div>
		
		<div id="signup" class="page" style="display: none;">
          <div class="row">
            <form class="form-horizontal" style="padding:5px;" id="SignUpForm">
				<div class="col-md-9">
				  <div class="form-group">
					<label class="control-label col-md-4">Username:</label>
					<div class="col-md-8">
					  <input type="text" id="signupname" class="form-control" name="username" placeholder="IdkWhatNameToMake">
					</div>
				  </div>
				  <div class="form-group">
					<label class="control-label col-md-4">Password:</label>
					<div class="col-md-8">
					  <input type="password" id="signuppass" class="form-control" name="password" placeholder="12345">
					</div>
				  </div>
				</div>
			<div class="row">
				<div class="col-md-12">
				  <div class="form-group" style="horizontal-align:left; vertical-align:middle; text-align:center">
					<input type ="submit" id="signup_save" class="btn btn-success btn-lg" value="Sign up!">
				  </div>
				</div>
			</div>
			</form>
          </div>
        </div>
		
		<div id="signupconf" class="page" style="display: none;">
          <div class="row">
				<div class="alert alert-success">
				 <b>Thank you for signing up! You can now save your searches by clicking on the 'My Searches' tab in the navigation bar.</b>
				</div>
			
          </div>
        </div>

		<div id="logout" class="page" style="display: none;">
          <div class="row">
            <div class='alert alert-success'><b>You have successfully logged out!</b></div>
          </div>
        </div>
			
		  	</div>
		  </div>
    </div>
</body>

<template name="results">
{{#if results}}
 <div id="status" class="alert alert-success"><b>{{status}}</b></div>
          <div class='row'>
              <div class='col-md-6 left-side'>
                <div class= 'panel panel-primary'>
					<div class='panel-heading'><b>Object Data</b></div>
					<div id='dataPanelBody' class='panel-body'>

                  </div>
				  </div>
				  <div class='panel panel-primary'>
					<div id='date' class='panel-heading'></div>
					<div id='amtable' class='panel-body'></div>
				</div>
               </div>
			  <div class='col-md-6 right-side'>
				<div class='panel panel-info'>
					<div id="targetName" class='panel-heading'>
						</div>
					<div class='panel-body'><center>
						<div id='aladin-lite-div' style='width:540px;height:540px;'>
						Loading...
						</div></center>
					</div>
					
				</div>
			</div>
			<div id='savesearch_button'></div>
          </div>
		  {{else}}
			<div id="status" class="alert alert-danger"><b>No results were found.</b></div>
		{{/if}}
</template>

